@import "../../VariablesAndMixins";

.ratingBox {
    @include flexCenter;
    padding: 0 0 0.75rem 0;

    .starBox {
        @include flexCenter;
        height: 2.25rem;
        width: 2.25rem;
        img {
            height: 100%;
            width: 100%;
        }
    }
}