@import "../../scss/VariablesAndMixins";

.rentalsGrid {
    margin: 2.813rem 0;
    border-radius: 1.25rem;
    padding: 3.438rem;
    background-color: $lightGrey-color;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.125rem;
    place-items: center;

    @include tablet-view {
        margin: 2.5rem auto;
        width: $headerAndMain-responsive-width;
        padding: 2rem;
        grid-template-columns: 1fr 1fr;
    }

    @include mobile-view {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 !important;
        background-color: $white-color;
        gap: 0;
    }
}

