@import "../../scss/VariablesAndMixins";

.collapse {
    width: 100%;
    padding: 0.938rem 0;

    &__header {
        height: 3.25rem;
        border-radius: 0.313rem;
        padding: 0 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $red-color;
        font-size: 1.438rem;
        font-weight: 700;
        color: $white-color;
        @include mobile-view {
                height: 3.75rem;
                // border-radius: 0.313rem;
                // padding: 0 1.25rem;
                // display: flex;
                // justify-content: space-between;
                // align-items: center;
                // background-color: $red-color;
                font-size: 1.625rem;
                font-weight: 700;
                // color: $white-color;            
        }

        &__title {
            color: green;
        }

        &__arrowBox {
            font-size: 1.625rem;

            &>.fas {
                color: var($white-color);
                transition: transform 0.3s;
            }

            &>.fas.isExpanded {
                transform: rotate(-180deg);
                transition: transform 0.3s;
            }

        }

    }

    &__content {
        max-height: 0;
        overflow: hidden;
        border-radius: 0 0.313rem 0.313rem 0;
        background-color: $lightGrey-color;
        line-height: 1.875rem;
        font-size: 1.125rem;
        font-weight: 600;
        text-align: justify;
        hyphens: auto;

        

        &.isExpanded {
            border-radius: 0 0.313rem 0.313rem 0;
            padding: 1.25rem;
            animation: slideDown 5s ease-out forwards;
        }

        &.isCollapsed {
            animation: slideUp 5s ease-out forwards;
        }

        &>span {
            display: block;
        }

    }

}




//== Keyframes ==


@keyframes slideDown {
    0% {
        max-height: 0;
    }

    100% {
        max-height: 100vh;
    }
}

@keyframes slideUp {
    0% {
        max-height: 100vh;
    }

    100% {
        max-height: 0;
    }
}

@media (max-width:1250px) {}

@media (max-width:700px) {

    // .collapse{
    //     padding: 1.25rem;
    // }

    .collapseHeader {
        height: 3.75rem;
        border-radius: 0.313rem;
        padding: 0 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $red-color;
        font-size: 1.625rem;
        font-weight: 700;
        color: $white-color;
    }
}