@import "../../VariablesAndMixins";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.188rem 0 2.813rem;

    @include tablet-view {
        margin: auto;
        width: $headerAndMain-responsive-width;
    }

    @include mobile-view {
        padding: 6vw 0;
    }

    &__logo,
    &__logo>a>img {
        width: 13.125rem;

        @include mobile-view {
            width: 18rem;
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1.25rem;

        &__link {
            font-size: 1.438rem;
            font-weight: 600;
            padding: 0 1.25rem;
            text-decoration: none;

            &:hover {
                color: $red-color !important;
            }
            &.isActive {
                        text-decoration: underline;
                    }

            @include mobile-view {
                padding: 0;
                text-transform: uppercase;
            }

        }

        


    }
}