@import "../../scss/VariablesAndMixins";

.footer {
    padding: 4.5rem 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black-color;
    color: $white-color;
    flex-direction: column;

    @include mobile-view {
        height: 26.2rem;
        padding: 2.5rem 0;
    }

    &__text {
        padding: 2.5rem 0 0;
        font-size: 1.5rem;
        font-weight: 500;

        @include mobile-view {
            padding: 1.175rem 0 0;
            width: 16.75rem;
            text-align: center;
            line-height: 2rem;
        }
    }
}
