@import "../../scss/VariablesAndMixins";

//== RentalCard's variables ==
$card-desktop-height : 21.25rem;
$card-desktop-width : 21.25rem;
$card-tablet-height : 31.98rem;
$card-tablet-width : 40vw;
$card-mobile-height : 31.98rem;
$card-mobile-width : $headerAndMain-responsive-width;
$card-transition-time :0.3s;
$card-bckg-gradient: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));

.rentalCard {
  position: relative;
  width: $card-desktop-width;
  height: $card-desktop-height ;
  border-radius: 0.938rem;
  @include flexCenter;
  overflow: hidden;

  @include tablet-view {
    margin: 1.25rem auto;
    width: $card-tablet-width;
    margin-bottom: 2.5rem;
  }

  @include mobile-view {
    margin: 0 auto 2.5rem;
    width: $card-mobile-width;
    height: $card-mobile-height;
  }

  &:hover {
    transform: scale(1.1);
    transition-duration: .3s;

    @include mobile-view {
      transform: scale(1.05);
      transition-duration: $card-transition-time;
    }
  }

  &__coverImg {
    height: $card-desktop-height ;

    @include tablet-view {
      width: $card-tablet-width;
      min-height: $card-tablet-height ;
    }

    @include mobile-view {
      width: $card-mobile-width;
      min-height: $card-mobile-height;
    }
  }

  &__textBox {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0.938rem;
    background: $card-bckg-gradient;

    @include mobile-view {
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0;
      line-height: 3.5rem;
      color: $white-color;
    }

    &__text {
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0;
      padding: 0 1.5rem 1.8rem 1.5rem !important;
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.8rem;
      color: $white-color;
    }
  }
}