.errorCode{
    padding: 65px;
    text-align: center;
    color: var(--red-color);    
    font-size: 288px;
    font-weight: 900;
}

.errorMsg{
    padding:20px;
    text-align: center;
    color: var(--red-color);
    font-size: 36px;
    font-weight: 500;
}

.linkToHome{
    display: block;
    width: 100%;
    padding: 130px;
    text-align: center;
    font-size: 18px;

}