@import "../../scss/VariablesAndMixins";


.errorCode{
    padding: 4.063rem;
    text-align: center;
    color: $red-color;
    font-size: 18rem;
    font-weight: 700;
    @include mobile-view  {
        padding: 4.063rem;
        font-size: 12rem;
    }
}

.errorMsg{
    padding:1.25rem;
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;  
    text-align: center;
    color: $red-color;
    font-size: 2.25rem;
    font-weight: 500;
}

.linkToHome{
    display: block;
    width: 100%;
    padding: 8.125rem 0;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
    @include mobile-view  {
        font-size: 1.75rem;
    }

}
