@import "../../VariablesAndMixins";

//== Slider Variables
$slides-transitionTime: 0.3s;
$slider-height: 25.94rem;
$slider-arrowsSize: 5rem;
$slider-mobile-height: 33rem;
$slider-mobile-arrowsSize: 3rem;
$pictureRankBox-height: 3.125rem;
$pictureRankBox-background: radial-gradient(rgba(10, 10, 10, 0.39), rgba(9, 9, 9, 0), rgba(9, 9, 9, 0));

.sliderContainer {
    position: relative;
    max-width: 77.5rem;
    height: $slider-height;
    border-radius: 1.563rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: $lightGrey-color;
    @include mobile-view {
        height: $slider-mobile-height;
    }

    .slide {
        position: absolute;
        display: flex;
        width: 100%;
        height: $slider-height;
        transform: translateX(100%);
        align-items: center;
        @include mobile-view {
            height: $slider-mobile-height;
        }

        img {
            max-width: 100%;
            min-height: $slider-height;
            @include mobile-view {
                min-width: 100%;
                height: $slider-mobile-height;
            }
        }

        &.active {
            transform: translateX(0);
        }

        &.next {
            transform: translateX(+100%);
        }

        &.previous {
            transform: translateX(-100%);
        }
    }
}


.arrowBox {
    position: absolute;
    height: $slider-height;
    padding: 0.625rem;
    color: $white-color;
    font-size: $slider-arrowsSize;
    line-height: $slider-height;
    @include mobile-view {
        height: $slider-mobile-height;
        line-height: $slider-mobile-height ;
        font-size: $slider-mobile-arrowsSize;
    }

    &:hover {
        background-color: $arrowBoxHover-color;
    }

    &.previous {
        left: 0;
        top: 0;
    }

    &.next {
        right: 0;
        top: 0;
    }
}

.pictureRankBox {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3.75rem;
    height: $pictureRankBox-height;
    background: $pictureRankBox-background;
    text-align: center;
    line-height: $pictureRankBox-height;
    font-weight: 700;
    color: $white-color;
}